<%-include("header.ejs")%>
<style>
    form {
        text-align: center;
        line-height: 100%;
        letter-spacing: -2px;
        font-family: 'Dosis', sans-serif;
margin-top: 100px;
        animation: titleAnimation 1s;
    }
.ddd{
height: 40px;
    width:620px;
    margin-bottom: 50px;

    border : 8px solid hsla(160, 52%, 71%, 1);
    border-radius: 50px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #37574C;
    font-family: 'Dosis', sans-serif;
    color: hsla(160, 52%, 71%, 1);

}

    ::placeholder {
        font-family: 'Dosis', sans-serif;
        color: hsla(160, 52%, 71%, 1);


    }
    textarea{
        width:610px;
        height:500px;

        border : 8px solid hsla(160, 52%, 71%, 1);
        border-radius: 50px;
        padding: 25px;
        background-color: #37574C;
        font-family: 'Dosis', sans-serif;
        color: hsla(160, 52%, 71%, 1);
        ::placeholder {
            margin: 50px;
        }
    }
    .btn{
        margin-top: 40px;
        border-radius: 50px;
       padding: 15px;
width: 200px;
        border : 8px solid hsla(160, 52%, 71%, 1);
        font-size: 18px;
        font-family: 'Dosis', sans-serif;
        color: hsla(160, 52%, 71%, 1);
        background-color: #233538;
    }

</style>
</head>

<body>
<div class="top">
    <div class="flex-box">
        <div class="flexbox">


            <div class="button" id="about" ><a href="/">About</a></div>


            <div class="button" id="create" action="/create"><a href="/create">Create</a></div>

            <div class="button" id="view" action="/view"><a href="/view">View</a></div>

        </div>

    </div>

<!--    <form action="/submit" method="POST">-->



<!--            <input for="email" type="email" class="blog" placeholder="Enter Email Address" id="chitti" name="email" required>-->


<!--            <input for="phone" type="text" class="blog" id="call" placeholder="Enter Phone Number" name="phone" required>-->


<!--            <textarea for ="blog" name="blog" placeholder="Write your Blog here                                                                                                                                                                                    Use a clear and concise writing style-->
<!--Break up your text into paragraphs-->
<!--Use images and videos to make your blog post more visually appealing-->
<!--Choose a blog template-->
<!--Choose a captivating topic-->
<!--Do thorough research-->
<!--Identify your audience-->
<!--Design an outline-->
<!--Write an engaging introduction-->
<!--Include subheadings and bullet points-->
<!--Use high-quality images and videos-->
<!--Craft a compelling headline-->
<!--Propose solutions-->
<!--Edit and proofread your work-->
<!--Select a blog domain name" rows="10"></textarea>-->



<!--     <button type="submit" class="btn" value="/submit"  >Submit</button>-->
<!--    </form>-->
    <form action="/view" method="POST">

        <input class="ddd" type="text" placeholder="Your Name"  name="name" required>
        <input class="ddd" type="email" placeholder="Enter Email Address"  name="email" required>
        <input for="phone" class="ddd" type="text" class="blog" id="call" placeholder="Enter Phone Number" name="phone" required>
        <input class="ddd" name ="birth" type="date" placeholder="Enter Your DOB">

                    <textarea for ="blog" name="blog" placeholder="Write your Blog here                                                                                                                                                                                    Use a clear and concise writing style
Break up your text into paragraphs
Use images and videos to make your blog post more visually appealing
Choose a blog template
Choose a captivating topic
Do thorough research
Identify your audience
Design an outline
Write an engaging introduction
Include subheadings and bullet points
Use high-quality images and videos
Craft a compelling headline
Propose solutions
Edit and proofread your work
Select a blog domain name" rows="10"></textarea>
<br>
        <input type="submit" class="btn" value="Submit">
    </form>

</div>

<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>

<script src="script.js"></script>
<script>
    $("#create").addClass("active");


</script>

</body>
</html>