<%-include("header.ejs")%>

</head>

<body>
<div class="top">
  <div class="flex-box">
    <div class="flexbox">


      <div class="button" id="about" ><a href="/">About</a></div>


      <div class="button" id="create" action="/create"><a href="/create">Create</a></div>

      <div class="button" id="view" action="/view"><a href="/view">View</a></div>

      </div>

  </div>

  <h1>Hi. I'm Aditya.<br>
    A Designer.</h1>
  <img src="star%20.png" alt="Star image" id="dusra">
  <img src="star%20.png" alt="Star image" id="pehla">
  <p>I'm passionate about learning and applying the concepts to<br> real world.</p>
</div>

<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>

  <script src="script.js"></script>
<script>
  $("#about").addClass("active");


</script>

</body>

</html>